services:
  influxdb:
    image: influxdb:1.11.8
    restart: unless-stopped
    ports:
      - 8086:8086
    volumes:
      - influxdb-volume:/var/lib/influxdb
    environment:
      - INFLUXDB_LOGGING_LEVEL=warn 
      - INFLUXDB_HTTP_LOG_ENABLED=false
      - INFLUXDB_HTTP_AUTH_ENABLED=true
      - INFLUXDB_DATABASE=${INFLUXDB_DATABASE}
      - INFLUXDB_ADMIN_USER=${INFLUXDB_ADMIN_USER}
      - INFLUXDB_ADMIN_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
      - INFLUXDB_USER=${INFLUXDB_USER}
      - INFLUXDB_USER_PASSWORD=${INFLUXDB_USER_PASSWORD}

  chronograf:
    image: chronograf:latest
    restart: unless-stopped
    ports:
      - 8888:8888
    depends_on:
      - influxdb

  telegraf:
    image: telegraf:latest
    restart: unless-stopped
    environment:
      - OPCUA_ENDPOINT_1=${OPCUA_ENDPOINT_1}
      - OPCUA_TELEGRAF_USER=${OPCUA_TELEGRAF_USER}
      - OPCUA_TELEGRAF_PASSWORD=${OPCUA_TELEGRAF_PASSWORD}
      - INFLUXDB_DATABASE=${INFLUXDB_DATABASE}
      - INFLUXDB_ADMIN_USER=${INFLUXDB_ADMIN_USER}
      - INFLUXDB_ADMIN_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
    volumes:
      - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      - influxdb

  frontend:
    image: ghcr.io/wil-vit/bbr-scada-front:latest
    restart: unless-stopped
    ports:
      - 80:80

  backend:
    image: ghcr.io/wil-vit/bbr-scada-back:latest
    restart: unless-stopped
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
      - FRONT_URL=${FRONT_URL}
      - HYPERVISOR_URL=${HYPERVISOR_URL}
      - OPCUA_ENDPOINT_1=${OPCUA_ENDPOINT_1}
      - OPCUA_SCADA_USER=${OPCUA_SCADA_USER}
      - OPCUA_SCADA_PASSWORD=${OPCUA_SCADA_PASSWORD}
      - INFLUXDB_DATABASE=${INFLUXDB_DATABASE}
      - INFLUXDB_USER=${INFLUXDB_USER}
      - INFLUXDB_USER_PASSWORD=${INFLUXDB_USER_PASSWORD}
    volumes:
      - ./siteconfig:/usr/src/app/siteconfig:ro

volumes:
  influxdb-volume:
